@charset "UTF-8";
body{
    background-color:rgb(177, 255, 174) ;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(4, 129, 0) ;
}
h1#principal{
    text-align: center;
    color: white;
    background-color: rgb(4, 129, 0);
}
h2{
    color: rgb(9, 124, 5);
}

.basico{
   color: rgb(9, 124, 5);
   font-weight: bold;
}
.intermediario{
  color:  rgb(255, 251, 0);
}

.avancado{
color:rgb(199, 12, 12);
}

.destaque{
    background-color:rgb(4, 129, 0);
    color: white;
    
}